.nav {
  grid-area: n;
  background-color: #b7adff;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.active {
  color: gold;
}
.item a {
  color: white;
  text-decoration: none;
}
.item .activeLink {
  color: gold;
}
