* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
ul,
li,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  margin-top: 10px;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 80%;
  margin: 0 auto;
}
.header,
.nav,
.content {
  border-radius: 7px;
}
.app-wrapper__content {
  grid-area: c;
}
